@page "/Auth/Confirm"

@model WebAdvert.Web.Pages.Auth.ConfirmModel
@{
    ViewData["Title"] = "Confirm Account";
}

<h1>Confirm Account</h1>
<br />

<form method="post">
    <div class="form-group row mb-1">
        <label class="col-sm-2 col-form-label" asp-for="Input.Email"></label>
        <div class="col-sm-3">
            <input class="form-control" asp-for="Input.Email" />
            <span class="text-danger" asp-validation-for="Input.Email"></span>
        </div>
    </div>

    <div class="form-group row mb-1">
        <label class="col-sm-2 col-form-label" asp-for="Input.Code"></label>
        <div class="col-sm-3">
            <input class="form-control" asp-for="Input.Code" />
            <span class="text-danger" asp-validation-for="Input.Code"></span>
        </div>
    </div>

    <br />
    <div class="form-group row mb-1">
        <div class="col-sm-2">
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </div>
    </div>
</form>