@page "/Auth/SignIn"

@model WebAdvert.Web.Pages.Auth.SignInModel
@{
    ViewData["Title"] = "Sign In";
}

<h1>Sign In</h1>
<br />
<h5>If you are not a member, you can Sign Up <a href="/auth/signup">here</a>.</h5>
<br />

<form method="post">
    <div class="form-group row mb-1">
        <label class="col-sm-2 col-form-label" asp-for="Input.Email"></label>
        <div class="col-sm-3">
            <input class="form-control" asp-for="Input.Email" />
            <span class="text-danger" asp-validation-for="Input.Email"></span>
        </div>
    </div>

    <div class="form-group row mb-1">
        <label class="col-sm-2 col-form-label" asp-for="Input.Password"></label>
        <div class="col-sm-3">
            <input class="form-control" asp-for="Input.Password" />
            <span class="text-danger" asp-validation-for="Input.Password"></span>
        </div>
    </div>

    <br />
    <div class="form-group row mb-1">
        <div class="col-sm-2">
            <button type="submit" class="btn btn-primary">Sign In</button>
        </div>
    </div>
</form>

